# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Generated protobuf sources
proto/*.pb.cc
proto/*.pb.h

# Produced binaries
bin/
